[project]
	description = The Qt ActiveQt repository\n\
\n\
ssh://codereview.qt-project.org:29418/qt/qtactiveqt.git
[receive]
	requireChangeId = true
	requireContributorAgreement = true
	allowTopicReview = true
[submit]
	action = cherry pick
	mergeContent = true
[cherryPick]
	includeReviewedOn = true
[cherryPick "categoryFooters"]
	Sanity-Review = true
[access "refs/heads/release"]
	stage = group Qt Release Team
	exclusiveGroupPermissions = stage
